<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/datatable/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
     {{> navbar }}
    
    {{{body}}}

    <script src="/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="/plugins/popper/popper.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/validate/validate.js"></script>
    <script src="/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/plugins/fontawesome-free/js/all.min.js"></script>
    <script src="/js/helpers/message.helper.js"></script>
    <script src="/js/helpers/dom.helper.js"></script>
    <script src="/js/helpers/string.helper.js"></script>
    <script src="/js/helpers/date.helper.js"></script>
    <script src="/js/helpers/array.helper.js"></script>
    <script src="/js/helpers/ajax.helper.js"></script>
    <script src="/js/helpers/number.helper.js"></script>
    <script src="/js/quiniela.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>